﻿@{
    ViewBag.Title = "codesanook.com - เกี่ยวกับเรา";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    เกี่ยวกับ Code Sanook (โค้ด สนุก)</h2>
<div id="aboutDetails">
    <p>
        ผมตั้งใจสร้าง codesanook.com ขึ้นมาเพื่อให้เป็นแหล่งรวบรวมความรู้และประสบการณ์ที่
        ได้รับจากการทำงาน อ่านหนังสือ, บอล์ก, เว็บบอร์ด โดยเนื้อหาในเว็บจะเน้นไปที่เทคโนโลยีของ
        Microsoft เป็นหลัก อันได้แก่ ASP.NET MVC, C#,LINQ และอื่นๆ เว็บนี้จะเป็นเหมือนสมุดบันทึกที่ช่วยให้ผมสามารถที่จะกลับมาดูเนื้อหาเหล่านี้
        เพื่อนำไปแก้ไขข้อผิดพลาดในงานหรือพัฒนาโปรแกรม และคาดหวังว่าเนื้อหาในเว็บนี้จะเป็นประโยชน์ต่อบุคคลทั่วไป
    </p>
    <p>
        หากท่านใดมีคำแนะนำ ติชม ต้องการแลกเปลี่ยนความรู้ พูดคุยเป็นการส่วนตัว <strong>หรือต้องการร่วมเป็นนักเขียนให้กับ
            codesanook.com</strong> สามารถส่งอีเมล์ติดต่อมาที่ <a href="mailto:admin@codesanook.com">
                admin@codesanook.com</a> หรือกรอกข้อมูลในฟอร์มที่อยู่ด้านล่างก็ได้
    </p>
    <p>
        นอกจากนี้ทาง codesanook.com ได้เปิดให้บริการ
        <ul>
            <li><a href="http://sonsod.com">สอนเขียนโปรแกรมที่ sonsod.com โรงเรียนสอนคอมพิวเตอร์แบบออนไลน์</a>
            </li>
               วิทยากรสอนการเขียนโปรแกรมให้กับหน่วยงาน องค์กร
            <li>
            </li>
            <li>
            รับให้คำปรึกษาการพัฒนาโปรแกรม การเลือกใช้เทคโนโลยีฟรี 
            </li>
        </ul>
    </p>
    <p style="text-align: right">
        ขอให้ทุกคนสนุกกับการโคดดิ่ง (coding)
        <br />
        ธีรานิตย์ พงค์ทองเมือง
        <br />
        2 สิงหาคม 2010
       
    </p>

    <p id="cer" style="text-align: left">
    
        <img src="../../Content/images/MCT.jpg" title="Microsoft Certified Trainer" />
        <br />
        <img src="../../Content/images/MCPD.jpg" title="Microsoft Certified Professional Developer ASP.NET Developer 3.5" />
        <br />
        <img src="/Content/images/MCTS-ASP.NET.png" title="Microsoft Certified Technology Specialist : .NET Framework 3.5, ASP.NET Applications" />
        <br />
        <img src="/Content/images/MCTS-ADO.NET.png" title="Microsoft Certified Technology Specialist : .NET Framework 3.5, ASP.NET Applications"/>
    </p>
</div>
@{
    var absoluteUrl =
        "http://codesanook.com/about";
                         
}
<div class="fb-like" data-href="@absoluteUrl" data-send="true" data-layout="button_count" data-width="450" data-show-faces="false" data-font="tahoma">
</div>
@Html.Partial("ContactUs")
