﻿<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>

    
    <!--include ExtJs -->
    <link rel="stylesheet" type="text/css" href="/Scripts/ext-3.4.0/resources/css/ext-all.css"/>
    <script type="text/javascript" src="/Scripts/ext-3.4.0/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="/Scripts/ext-3.4.0/ext-all-debug.js"> </script>
    <!--end include ExtJs -->
 @RenderSection("script", false) 
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
