﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>
        @ViewBag.Title
    </title>
    <link href="/Content/Admin.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="/Content/pagination.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/Scripts/autocomplete/jquery.autocomplete.css" />
    <link rel="shortcut icon" type="image/x-icon" href="/Content/images/favicon.ico" />
     @RenderSection("CssContent", false)

    <script src="/Scripts/jquery-1.3.2.min-vsdoc.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script src="/Scripts/sarapadchang.js" type="text/javascript"></script>
    <script type='text/javascript' src='/Scripts/autocomplete/jquery.autocomplete.js'></script>
   
    <script src="/Scripts/ckeditor/ckeditor.js" type="text/javascript"></script>
    
    <script src="/Scripts/ckeditor/adapters/jquery.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-ui-1.7.2.custom.min.js" type="text/javascript"></script>
    <script src="/Scripts/timepicker.js" type="text/javascript"></script>
    @RenderSection("JsContent", false)
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>
                    Code Sanook Web Engine
                </h1>
            </div>
            <div id="logindisplay">
              
                @Html.ActionLink("Admin Home", "index", "admin") |
                @Html.ActionLink("Site Home", "index", "article",null,new{target="_blank"}) |
                @Html.ActionLink("Logout", "logout", "member") 
            </div>
        </div>
        <div class="wrapper">
            <div id="menu">
                <ul>
                    <li>
                        <span>บทความ</span>
                        <ul>
                            <li>
                            @Html.ActionLink("บทความทั้งหมด", "list", "article")</li>
                            <li>
                            @Html.ActionLink("สร้างบทความใหม่", "create", "article")</li>
                        </ul>
                    </li>
                </ul>
            </div>        
            <div id="main">
                @RenderBody()
                
            </div>
            <br class="clear" />
        </div>
        <div id="footer">
            Copyright &copy; @DateTime.Now.Year , codesanook.com , All right reserved.
            @Html.ActionLink("About Us","index","about")
        </div>
    </div>
</body>
</html>

