﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://ogp.me/ns/fb#">
<head runat="server">
    <title>
        @ViewBag.Title
    </title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="blog, เว็บบล็อก, ASP.NET MVC, C#, PHP, Entity Framework,JavaScript, jQuery, Facebook Development, iPhone Development, SQL Server, MySQL, Tips,web based IDE, web based command prompt, web based terminal, C# IDE, Facebook JavaScript SDK, Adobe Edge, HTML5, Tools, VBA, Google Docs, Unite Test, logger, NAnt, Mac OS" />
    <meta name="description" content="codesanook.com - blog เว็บบล็อกสำหรับ web developer , mobile developer, programmer ชาวไทย มีบทความเกี่ยวกับ ASP.NET MVC, C#, PHP, Entity Framework,JavaScript, jQuery, Facebook Development, iPhone Development, SQL Server, MySQL,HTML5, Tools, Unit Test, logger, Mac OS, Tips ต่างๆ, พร้อมทั้งมีบริการฟรี CodeSanook Terminal ใช้งาน Command Prompt บนเว็บด้วยคำสั่งต่างๆ, CodeSanook C# IDE เขียนคำสั่ง C# บนเว็บ แล้ว run ดูผลลัพธ์ได้ทันที" />
    <meta property="og:type" content="blog"/>
    @RenderSection("FacebookMeta", false)
    <link href="/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="/Content/ui-lightness/jquery-ui-1.7.2.custom.css" rel="stylesheet" type="text/css" />
    <link href="/Content/pagination.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="/Content/images/favicon.ico" />
    <!--Begin Script and CSS for SyntaxHightLight-->
    <link type="text/css" rel="stylesheet" href="/Scripts/ckeditor/plugins/syntaxhighlight/styles/shCore.css" />
    <link type="text/css" rel="stylesheet" href="/Scripts/ckeditor/plugins/syntaxhighlight/styles/shThemeDefault.css" />
    <link type="text/css" rel="stylesheet" href="/Content/jquery.marquee.min.css" />
    <link type="text/css" rel="stylesheet" href="/Content/binaryclock.css" />


    <script src="/Scripts/jquery-1.3.2.min.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-ui-1.8.2.custom.min.js" type="text/javascript"></script>
    <script src="http://connect.facebook.net/en_US/all.js" type="text/javascript"></script>
 
    <script src="/Scripts/jquery.binaryclock.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shCore.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushBash.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushCpp.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushCSharp.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushDelphi.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushDiff.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushGroovy.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushJava.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushPhp.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushPlain.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushPython.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushRuby.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushScala.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushSql.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushVb.js"></script>
    <script type="text/javascript" src="/Scripts/ckeditor/plugins/syntaxhighlight/scripts/shBrushXml.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.config.clipboardSwf = '/Scripts/ckeditor/plugins/syntaxhighlight/scripts/clipboard.swf';
        SyntaxHighlighter.all();

     
    </script>
    <!--End Script and CSS for SyntaxHightLight-->
    @RenderSection("CssContent", false)
    @*
   <script type="text/javascript">
       FB.init({
           appId: '@Facebook.FacebookApplication.Current.AppId', cookie: true,
           status: true, xfbml: true
       });
   </script>
   *@
    @RenderSection("JsContent", false)
    <!-- google analytic -->
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27382857-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
</head>
<body>
    <!-- facebook sdk -->
    <div id="fb-root">
    </div>
    <script type="text/javascript">
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=161236587286870";
            fjs.parentNode.insertBefore(js, fjs);
        } (document, 'script', 'facebook-jssdk'));
    </script>
    <!--end facebook sdk-->
    <div id="wrapper">
        <div id="header">
            <a id="siteName" href="/">
                <img src="@Url.Content("~/Content/images/logo.png")" border="0" /></a>
            <h1>
                ASP.NET MVC, C#, MonoTouch, Entity Framework, Unit Test ...</h1>
            <ul id="menu">
                <li><a href="/">หน้าแรก</a></li>
                <li><a href="/services/terminal.cshtml">Terminal</a> </li>
                <li><a href="/services/ide.cshtml">C# IDE</a> </li>
                <li><a href="http://sonsod.com/Webboard/" target="_blank">เว็บบอร์ด</a> </li>
                  <li>
                    @Html.ActionLink("แนะนำหนังสือ", "index", "book")
                </li>
                <li>
                    @Html.ActionLink("เกี่ยวกับเรา", "index", "about")
                </li>
               
            </ul>
            <div class="facebookLikeButton">
                <fb:like href="http://www.codesanook.com/" send="false" layout="box_count" width="60"
                    show_faces="true">
                </fb:like></div>
        </div>
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <div class="alertMessage">
                <span class="green">@ViewBag.Message</span>
            </div>
        }
        <div id="leftContainer">
            @RenderBody()
        </div>
        <div id="rightContainer">
            <a href="http://www.sonsod.com" target="_blank" title="สถาบันสอนสดดอทคอม ศูนย์การเรียนรู้ออนไลน์ สอนสดผ่านระบบอินเตอร์เน็ต">
                <img src="/Content/images/sonsod-banner120x120.gif" border="0" /></a>
            <div id="binary-clock">
                <div>
                    <div class="hour_column alignleft">
                        <div class="count-block" id="h1c2">
                            &nbsp;</div>
                        <div class="count-block" id="h1c1">
                            &nbsp;</div>
                    </div>
                    <div class="column alignright">
                        <div class="count-block" id="h0c8">
                            &nbsp;</div>
                        <div class="count-block" id="h0c4">
                            &nbsp;</div>
                        <div class="count-block" id="h0c2">
                            &nbsp;</div>
                        <div class="count-block" id="h0c1">
                            &nbsp;</div>
                    </div>
                </div>
                <div>
                    <div class="column alignleft">
                        <div class="count-block" id="m1c4">
                            &nbsp;</div>
                        <div class="count-block" id="m1c2">
                            &nbsp;</div>
                        <div class="count-block" id="m1c1">
                            &nbsp;</div>
                    </div>
                    <div class="column alignright">
                        <div class="count-block" id="m0c8">
                            &nbsp;</div>
                        <div class="count-block" id="m0c4">
                            &nbsp;</div>
                        <div class="count-block" id="m0c2">
                            &nbsp;</div>
                        <div class="count-block" id="m0c1">
                            &nbsp;</div>
                    </div>
                </div>
                <div>
                    <div class="column alignleft">
                        <div class="count-block" id="s1c4">
                            &nbsp;</div>
                        <div class="count-block" id="s1c2">
                            &nbsp;</div>
                        <div class="count-block" id="s1c1">
                            &nbsp;</div>
                    </div>
                    <div class="column alignright">
                        <div class="count-block" id="s0c8">
                            &nbsp;</div>
                        <div class="count-block" id="s0c4">
                            &nbsp;</div>
                        <div class="count-block" id="s0c2">
                            &nbsp;</div>
                        <div class="count-block" id="s0c1">
                            &nbsp;</div>
                    </div>
                </div>
            </div>
            <div style="clear: both;">
            </div>
            @* area to show tag *@
            @RenderSection("TagWidget", false)
            <!-- link to other sites -->
            @Html.Partial("LinkToOtherSite")
            <!-- google adsense area -->
            <div class="adsense">
                <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-8591798986107883";
                    /* Codesanook-RightWidget */
                    google_ad_slot = "2671180423";
                    google_ad_width = 120;
                    google_ad_height = 600;
                //-->
                </script>
                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
            <!-- end google adsense -->
            @Html.Partial("Html5Logo")
        </div>
        <div id="footer">
            <!-- google adsense area -->
            <div class="adsense">
                <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-8591798986107883";
                    /* codesanook-footer */
                    google_ad_slot = "9414189751";
                    google_ad_width = 728;
                    google_ad_height = 90;
                //-->
                </script>
                <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
            </div>
            <!-- end google adsense -->
            Copyright &copy; 2010 - @DateTime.Now.Year , codesanook.com , All right reserved.
            @Html.ActionLink("About Us", "index", "about")
            <br />
            powered by <a href="http://www.asp.net/mvc" target="_blank">ASP.NET MVC</a> <a href="http://msdn.microsoft.com/en-us/data/aa937723"
                target="_blank">Enity Framework Code First</a> <a href="http://www.microsoft.com/sqlserver/en/us/default.aspx"
                    target="_blank">SQL Server 2008</a> <a href="http://www.microsoft.com/en-us/server-cloud/windows-server/default.aspx"
                        target="_blank">Windows Server 2003</a> <a href="http://www.iis.net/" target="_blank">
                            IIS 6</a>
            @{
                if (DateTime.Now >= new DateTime(DateTime.Now.Year, 12, 20)
                && DateTime.Now <= new DateTime(DateTime.Now.Year, 12, 27))
                {
                @Html.Partial("JoyToTheWorld")
                }
            }
        </div>
    </div>
</body>
</html>
