﻿@model IEnumerable<CodeSanook.Models.Tag>
           
<ul id="tagWidget">
    @foreach (var tag in Model)
    {
        <li>
            @Html.ActionLink(string.Format("{0} ({1})", tag.Name,
tag.Articles.Count()),
"tag", "article", new { tagName = tag.Name, id = string.Empty }, null)
        </li>
    }
</ul>
