﻿@{
    ViewBag.Title = "Logon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
@section JsContent
{
<script type="text/javascript">


    $(document).ready(function () {

        $("#fb-login").click(function () {
            var cb = function (response) {
                // Log.info('FB.login callback', response);
                if (response.status === 'connected') {
                    location.href = "/facebook";
                } else {
                    //  Log.info('User is logged out');
                    alert("error");
                }
            };

            FB.login(cb, { scope: 'read_stream' });

            return false;

        });

    });

</script>

}
*@
<h2>Logon</h2>


