﻿.info-message{
    padding:5px 20px;
    text-align:center;
    font-weight:bold;
    background-color:#c4ffbc;
}

/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background: url(images/bg-body.png) no-repeat top left #31241c;
    font-size: 1em;
    font-family: Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #000;
}
a:link
{
    color: #034af3;
    text-decoration: underline;
}
a:visited
{
    color: #505abc;
}
a:hover
{
    color: #1d60ff;
    text-decoration: none;
}
a:active
{
    color: #12eb87;
}

p, ul
{
    margin: 0;
    padding: 0;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 2em;
}
h2
{
    
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page
{
    width: 100%;
    margin: auto;
}

#header
{
    position: relative;
    width: 100%;
    height: 140px;
}

.wrapper
{
    background: url(images/bg-wrapper.png) repeat-y #fff;
    width: 100%;
    min-height: 300px;
}

#main
{
    width: 79%;
    margin: 20px 0 0 20px;
    padding: 0 0 20px 0;
    float: left;
}

#footer
{
    padding: 10px 0;
    color: #fff;
    font-size: 13px;
    text-align: center;
    background-color: #2e2520;
}

/* TAB MENU   
----------------------------------------------------------*/
#menu
{
    width: 200px;
    height: 100%;
    float: left;
    background-color: #2e2520;
}

#menu ul li
{
    width: 190px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 0;
    background-color: #2E2520;
    border-top: 1px solid #423732;
    text-align: left;
    list-style: none;
    color: #fff;
}

#menu ul li li a
{
    display: block;
    width: 190px;
    height: 40px;
    line-height: 40px;
    padding: 0 10px 0 0;
    background-color: #3B322F;
    text-align: right;
    color: #fff;
    text-decoration: none;
}

#menu ul li li a:hover
{
    background-color: #4c413d;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset 
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"] 
{
    width: 90%;
    border: 1px solid #CCC;
    font-size: 20px;
}
input[type="text"].hasDatepicker
{
    width: 180px;
}
input[type="password"] 
{
    width: 200px;
    border: 1px solid #CCC;
}
input[type="submit"]
{
    display: block;
    font-size: 24px;
    width: 200px;
    margin: auto;
}
textarea{
    width: 90%;
    height: 60px;
    border: 1px solid #CCC;
    font-size: 15px;
}

/* TABLE
----------------------------------------------------------*/

table 
{
  border: solid 1px #e8eef4;
  border-collapse: collapse;
}

table td 
{
  padding: 5px;   
  border: solid 1px #e8eef4;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: #e8eef4; 
  border: solid 1px #e8eef4;   
}

.tableList th
{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 5px;
}
.tableList td
{
    text-align: center;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color:Red;
}

.green
{
    color: Green;
}

#title
{
    position: absolute;
    top: 50px;
    left: 20px;
}

#title h1
{
    color: #fff;
    text-shadow: 3px 3px #000000;    
}

#logindisplay
{
    font-size:0.75em;
    display:block;
    text-align:right;
    margin:10px;
    color:White;
    float: right;
}

#logindisplay a
{
    color: white;
    text-decoration: none;
}

#logindisplay a:hover
{
    text-decoration: underline;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label,
.editor-label,
.display-field,
.editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

.nicEdit-main
{
    font-size:16px;
}


/* Log On
----------------------------------------------------------*/

.logOn
{
    width: 300px;
    margin: auto;   
}

.logOn #Email, .logOn #Password
{
    width: 100%;
    font-size: 20px;
}