﻿/* article */

#articleContainer
{
    width: 100%;
    padding: 0;
    margin: 0;
}

#leftContainer ul li
{
    list-style: disc;
}

div#articleContainer
{
    width: 100%;
    padding: 0;
    margin-top: 20px;
}

#leftContainer #articleContainer .articleList
{
    width: 100%;
    padding: 30px 0;
    border-bottom: solid 1px #CCCCCC;
    list-style: none;
}

.articleList h2
{
    font-size: 30px;
}

.articleList h2 a
{
    color: #202020;
    text-decoration: none;
}

.articleList h2 a:hover
{
    color: #3c372f;
    text-decoration: underline;
}

.previewImage a
{
    text-decoration: none;
    color: #FFFFFF;
    border: none;
}

.previewImage
{
    margin-left: 10px;
    float: left;
}
.previewImage img
{
    border: solid 1px #CCCCCC;
    max-width: 250px;
}

.articleSummaryContainer
{
    float: left;
    margin-left: 20px;
    margin-right: 10px;
    width: 470px;
}

.articleAbstract
{
}

.articleFooter
{
    clear: both;
    padding: 20px;
}
/*override for details page*/
div#articleContainer .articleFooter
{
    padding-left: 0;
}

#articleDetails
{
    clear: both;
    padding-top: 30px;
}

#commentContainer
{
    margin: 0px;
    padding: 0;
}

#commentContainer li
{
    list-style: none;
    border: 1px solid #DFDFDF;
    margin: 10px 10px 10px 0px;
    padding: 10px;
}

span.required
{
    color: #FF0000;
}

/*
.articleSummaryContainer a:link,
.articleSummaryContainer a:visited,
.articleSummaryContainer a:hover,
.articleSummaryContainer a:active
{
    color: #000000;
   
}

*/

#tagWidget
{
    padding: 0;
    margin: 0;
    border: none;
}

#tagWidget li
{
    padding: 0;
    margin: 0px 0px 0px 10px;
    list-style: none;
}

#tagWidget li a
{
    color: #202020;
    text-decoration: none;
}

#tagWidget li a:hover
{
    color: #FE8B5B;
    font-weight: bold;
}
.infoMessage
{
}

.infoMessage span
{
    background-color: #DCF6D7;
    font-size: 12px;
    position: static;
    z-index: 100;
    padding: 12px;
}

#aboutDetails
{
    padding: 10px;
}
#aboutDetails p
{
    text-indent: 10px;
}

#refreshButton
{
    cursor: pointer;
     
}

.articleSummaryContainer .fb_edge_widget_with_comment.fb_iframe_widget{
    margin:40px 0 0 ;
}


