﻿/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body
{
    background: url(../../Content/images/bg-head.png) repeat-x #e3e3e3;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}
a
{
    text-decoration: underline;
}

a:link
{
    color: #00a2ff;
    text-decoration: underline;
}
a:visited
{
    color: #c704e4;
}
a:hover
{
    color: #0a7cbd;
    text-decoration: none;
}
a:active
{
    color: #0a7cbd;
}


/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6
{
    font-size: 1.5em;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1
{
    font-size: 1em;
}
h3
{
    font-size: 1.2em;
}
h4
{
    font-size: 1.1em;
}
h5, h6
{
    font-size: 1em;
}
ul, li
{
    list-style: none;
}
p
{
    line-height: 28px;
}

/* this rule styles <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */


#leftContainer
{
    float: left;
    width: 780px;
    border: solid 1px #CCCCCC;
    padding: 20px;
    background-color: #f8f8f8;
}

#rightContainer
{
    float: left;
    width: 145px;
    padding: 0 0 0 10px;
}

#header
{
    position: relative;
    width: 940px;
    height: 115px;
    padding: 20px;
    margin:0 0 20px 0;
}

#header h1
{
    position: absolute;
    top: 20px;
    right: 20px;
    font-weight: bold;
    font-style: italic;
    color: #fff;
    font-size: 18px;
}

#wrapper
{
    margin:auto;
    width: 980px;
    padding: 5px;
}


#footer
{
    clear: both;
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0;
    font-size: .9em;
}

/* TAB MENU   
----------------------------------------------------------*/
ul#menu
{
    padding: 0px;
    margin: 5px 0 0 20px;
}

ul#menu li
{
    display: inline;
}

ul#menu li#greeting
{
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a
{
    padding: 5px 20px;
    text-decoration: none;
    color: #76e6db;
    font-size: 20px;
}

ul#menu li a:hover
{
    background-color: #473a31;
    color: #fff;
}


ul#menu li.selected a
{
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #CCC;
    margin-right: 10px;
}

fieldset p
{
    margin: 2px 12px 10px 10px;
}

legend
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input[type="text"]
{
    width: 300px;
    height:30px;
    font-size:20px;
    border: 1px solid #CCC;
    padding: 0;
    margin: 0;
}
input[type="text"]:hover
{
    background-color:#c8fef9;
}

input[type="password"]
{
    width: 300px;
    height:30px;
    font-size:20px;
    border: 1px solid #CCC;
    padding: 0;
    margin: 0;
}

input[type="password"]:hover
{
    background-color:#c8fef9;
}

input[type="submit"]
{
    width:150px;
    height:45px;
    font-size:16px;
}

/* TABLE
----------------------------------------------------------*/

table
{
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td
{
    padding: 5px;
    border: solid 1px #e8eef4;
    vertical-align:top;
}

table th
{
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}
form table, form table td
{
    border:none;    
}
form textarea
{
    width:500px;
    height:200px;
}
form p
{
    text-align:center;
}

form label
{
    display: inline-block;
    width: 120px;
    margin: 0;
    padding: 0;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
}

.center
{
    text-align:center;
}

.green
{
    color: Green;
}

a.orange
{
    color: #f16600;
}

#menucontainer
{
    margin-top: 80px;
}

div#title
{
    display: block;
    float: left;
    text-align: left;
}

#logindisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    margin: 10px;
    color: White;
}

#logindisplay a:link
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:visited
{
    color: white;
    text-decoration: underline;
}

#logindisplay a:hover
{
    color: white;
    text-decoration: none;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.alertMessage
{
    text-align: center;
    padding: 5px 0;
    background-color: #fff88f;
    border: solid 1px #ccc;
    border-bottom: none;
    width:820px;
}

.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;    
}

.validation-summary-valid
{
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, .editor-label, .display-field, .editor-field
{
    margin: 0.5em 0;
}

.text-box
{
    width: 30em;
}

.text-box.multi-line
{
    height: 6.5em;
}

.tri-state
{
    width: 6em;
}

a:link#siteName, a:visited#siteName
{
    color: #FFFFFF;
}
a:hover#siteName, a:active#siteName
{
    color: #FE8B5B;
}


.facebookLikeButton{
     position: fixed;
    top: 160px;
    right: 20px;
    width: 66px;
    height: 112px;
    padding: 8px 0 0 7px;
    background: url(images/bg-facebook-like-button.png) no-repeat;
}
.fb-like
{
    margin: 10px 0;
}
ul.marquee a
{
    color: #202020;
    text-decoration: none;
}