﻿@model CodeSanook.MicroBlog.Web.Mvc.ViewModels.MemberLogon

@{
    ViewBag.Title = "Logon";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>เข้าสู่ระบบ</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
<div>
@Html.ValidationMessage("invalidLogon")
</div>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div class="logOn">
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Password, new { type = "password" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Remember) <label for="Remember">จดจำรหัสผ่าน</label>
            @Html.ValidationMessageFor(model => model.Remember)
        </div>

        <p>
            <input type="submit" value="เข้าสู่ระบบ" />
        </p>
    </div> 
}

