﻿@model CodeSanook.MicroBlog.Model.Article
@{
    ViewBag.Title = "สร้างบทความใหม่";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section JsContent
{

    <script src="../../Scripts/jstorage/jquery.json-2.3.js" type="text/javascript"></script>
    <script src="../../Scripts/jstorage/jstorage.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

            //ck edtior
          var editor =  $('#Details').ckeditor(function () { },
                {
                    customConfig: '/Scripts/ckeditor_config.js',
                    extraPlugins: 'syntaxhighlight,video',
                    contentsCss: '/Content/ckeditor.css',
                    filebrowserImageUploadUrl: '/Article/UploadImage?type=Images'
                }
            ).ckeditorGet();

            var saveContent = function() {
                $.jStorage.set("savedDetails", editor.getData());
            };

            var restoreContent = function() {
                var value = $.jStorage.get("savedDetails");
                editor.setData(value);
            };
            
           //auto save every 5 secound
           setInterval(saveContent,5*1000);
            
        
//            $("#saveContent").click(function() {
//                saveContent();
//            }); 
            
              $("#restoreContent").click(function() {
                  restoreContent();
             });
            
            
        
        });
    </script>
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("create", "article",
      FormMethod.Post,
      new { enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    @Html.ValidationMessage("Entity")
    @Html.Partial("CreateEdit")
    <p>
        <input type="submit" value="สร้าง" />
    </p>

}

    <p>
  
    <button id="restoreContent">
        Restore Details</button>
</p>