﻿@model CodeSanook.Models.Article
<div class="editor-label">
    @Html.LabelFor(model => model.Title)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Title, new { maxlength = "100" })
    @Html.ValidationMessageFor(model => model.Title)
</div>
<span id="charlimitinfo2" class="green"></span>
<div class="editor-label">
    @Html.LabelFor(model => model.Alias)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.Alias, new { maxlength = "200" })
    @Html.ValidationMessageFor(model => model.Alias)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Details)
</div>
<div class="editor-field">
    @Html.ValidationMessageFor(model => model.Details)
    @Html.TextAreaFor(model => model.Details)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.Abstract)
</div>
<div class="editor-field">
    @Html.ValidationMessageFor(model => model.Abstract)<br />
    @Html.TextAreaFor(model => model.Abstract)
    <br />
    <span id="charlimitinfo1" class="green"></span>

</div>
<div class="editor-label">
    เผยแพร่
</div>
<div class="editor-field">
    @Html.RadioButtonFor(model => model.IsRelaseNow, true, new { id = "publishNow" })
    <label for="publishNow">
        เผยแพร่ข่าวทันที</label>
    @Html.RadioButtonFor(model => model.IsRelaseNow, false, new { id = "publishOn" })
    <label for="publishOn">
        เผยแพร่ข่าววันที่</label>
    @Html.TextBoxFor(model => model.ReleaseDate)
    @Html.ValidationMessageFor(model => model.IsPublish)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.TagValue)
</div>
<div class="editor-field">
    @Html.TextBoxFor(model => model.TagValue, new { maxlength = "80" })
    @Html.ValidationMessageFor(model => model.TagValue)
</div>
<div class="editor-label">
    @Html.LabelFor(model => model.PreviewImageUrl)
</div>
<div class="editor-field">
    @if (Model == null || string.IsNullOrEmpty(Model.PreviewImageUrl))
    {

        <input type="file" name="PreviewImageURL" />
    }
    else
    {

        <img src="@Model.PreviewImageUrl" title="" style="width:100px;height:100px;" />
        <input type="hidden" name="PreviewImageURL" value="@Model.PreviewImageUrl" />
        <br />
        <a class="deleteImage"  href="@System.IO.Path.GetFileName(Model.PreviewImageUrl)">ลบ</a>
    }
    @Html.ValidationMessageFor(model => model.PreviewImageUrl)
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $.sarapadchang.imageUploaderFor(); //for imageUploader

        $(".deleteImage").click(function (e) {
            e.preventDefault();
            var actionURI = "/article/deleteimage" + "?fileName=" + $(this).attr("href")
            + "&returnURI=" + location.pathname;
            $("form").attr({ action: actionURI });
            $("form").submit();
        });

        if ($('#publishOn').attr('disabled') == undefined) {
            $('#ReleaseDate').attr({ disabled: true });
        }

        $('#publishOn').click(function () {
            $('#ReleaseDate').removeAttr('disabled');
        });

        $('#publishNow').click(function () {
            $('#ReleaseDate').attr({ disabled: true, value: "" });
        });

        $('input[type="submit"]').click(function () {
            if ($('#publishOn').is(':checked') && $('#ReleaseDate').val() == "") {
                alert('กรุณาเลือกวันที่');
                return false;
            }

        });


        $('#ReleaseDate').datepicker({
            duration: '',
            showTime: true,
            constrainInput: false
        }); //End DateTimePicker



        //clear default date
        var isChecked = $("#publishOn").attr("checked");

        if (!isChecked) {

            $('#ReleaseDate').attr({ disabled: true, value: "" });
        }



        function limitChars(textid, limit, infodiv) {
            var text = $('#' + textid).val();
            var textlength = text.length;
            if (textlength > limit) {
                $('#' + infodiv).html('You cannot write more then ' + limit + ' characters!');
                $('#' + textid).val(text.substr(0, limit));
                return false;
            }
            else {
                $('#' + infodiv).html('You have ' + (limit - textlength) +
                ' characters left from ' + limit + ' characters');
                return true;
            }
        }

        $(function () {
            $('#Abstract').keyup(function () {
                limitChars('Abstract', 256, 'charlimitinfo1');
            });

            $('#Title').keyup(function () {
                limitChars('Title', 100, 'charlimitinfo2');
            });
        });



        $("#TagValue").autocomplete("/article/gettags/", {
            autoFill: true,
            width: 320,
            max: 5,
            highlight: false,
            multiple: true,
            multipleSeparator: " ",
            scroll: true,
            scrollHeight: 200
        });



    });          //end document ready   
</script>
