﻿@model CodeSanook.MicroBlog.Model.Article

   @{
                        var absoluteUrl = 
                            string.Format("http://codesanook.com/article/details/{0}",
                           Model.Alias);
 }

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section FacebookMeta
{
<meta property="og:title" content="@Model.Title"/>
<meta property="og:url" content="@absoluteUrl"/>

}


@section CssContent
{
    <link href="/Content/article.css" rel="stylesheet" type="text/css" />
}

@section JsContent
{
    <script type="text/javascript">

        $(document).ready(function () {

            var refreshCaptcha = function () {
                $("#captcha").attr({ src: '/article/rendercaptcha?timespan=' +
                 (new Date()).valueOf()
                });
            }

            var appendNewComment = function (data) {
                if (data.Success) {
                    //clear input form value
                    /*
                    $("#UserName").val("");
                    $("#Email").val("");
                    $("#Comment").val("");
                    */

                    document.getElementById("commentForm").reset();


                    var html = "";
                    html += '<li>';
                    html += '<h4>โดย ' + data.UserName + " เมื่อ " + data.CreationDate + '</h4>';
                    html += '<p>' + data.Details + '</p>';
                    html += '</li>';
                    $("#commentContainer").append(html);
                    $("#commentContainer li:last")
                    .effect("highlight", { color: '#BEDBF3' }, 1000);



                } else {
                    alert(data.ErrorMessage);
                }

                $("#submitButton").removeAttr("disabled");
                refreshCaptcha();
            }

            $("#commentForm").submit(function (e) {
                $("#submitButton").attr("disabled", true);
                e.preventDefault();

                var userName = $("#UserName").val();
                var email = $("#Email").val();
                var details = $("#Details").val();
                var articleId = $("#ArticleId").val();
                var captchaCode = $("#CaptchaCode").val();

                $.post("/article/addcomment",
            { ArticleId: articleId,
                UserName: userName,
                Email: email,
                Details: details,
                CaptchaCode: captchaCode
            },
                appendNewComment,
               "json");
            });



            //refresh captcha
            $("#refreshButton").click(refreshCaptcha);




        }); //end document ready


    </script>
}

@section TagWidget
{
    @Html.Action("RenderTagWidget", "Article")
}

    <div id="articleContainer">
        <div class="previewImage">
            <img src="@Model.PreviewImageUrl" />
        </div>
        <div class="articleSummaryContainer">
            <h2>
               @Model.Title
            </h2>
            <div class="articleFooter" style="margin-bottom: 0px">
                <strong>
                    <img src="/Content/images/clock-icon.png" />
                    เมื่อ :</strong>
                @Model.UtcReleaseDate.ToString("d-MMM-yy H:ss") 
                <strong>
                    <img src="/Content/images/read-icon.png" />
                    อ่าน :</strong>
               @Model.Hits ครั้ง
            <br />
                <strong>
                    <img src="/Content/images/tag-icon.png" />
                    Tag :</strong>
                 
              
             
 @*             <div class="fb-like" data-href="@absoluteUrl" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="tahoma"></div>*@
                <!-- like button-->
                <fb:like href="@absoluteUrl" send="false" width="500" show_faces="true"></fb:like>
                <!-- end like button-->
            </div>
        </div>
    </div>
    <p id="articleDetails">
        @Html.Raw(Model.Details)
    </p>
             
            <div class="fb-like" data-href="@absoluteUrl" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="tahoma"></div>
    <h4>
        ความเห็น</h4>
          @* facebook comment*@
    <fb:comments href="@absoluteUrl" num_posts="25" width="700"></fb:comments>

   @* <ul id="commentContainer">
        @foreach (var item in Model.Comments)
          {
        <li>
            <h4>
                โดย
                @item.UserName
                เมื่อ
                @item.CreationDate.ToString("d-MMM-yy h:mm")
                </h4>
            <p>
                @Html.Encode(item.Details)
            </p>
        </li>
        }
    </ul>*@

  

   @* <form id="commentForm" action="/article/addcomment" method="post">
    <fieldset>
        <legend>แสดงความเห็น</legend>
        <table>
            <tr>
                <td>
                    <label for="UserName">
                        ชื่อ<span class="required">*</span></label>
                </td>
                <td>
                    <input id="UserName" type="text" name="UserName" />
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Email">
                        อีเมล์<span class="required">*</span></label>
                </td>
                <td>
                    <input id="Email" type="text" name="Email" />
                    ไม่เผยแพร่
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Comment">
                        ความเห็น<span class="required">*</span>
                    </label>
                </td>
                <td>
                    <textarea id="Details" name="Details" rows="5" cols="50">
</textarea>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img style="margin-left: 130px" id="captcha" 
                    src="@Url.Action("RenderCaptcha")"
                        alt="" />
                   
                    <img alt="" title="เปลียนรูป" 
                    id="refreshButton" src="/content/images/article/refresh-button.png" />
                    
                </td>
            </tr>
            <tr>
                <td>
                    <label for="CaptchaCode">
                        อักษรในรูปภาพ<span class="required">*</span></label>
                </td>
                <td>
                    <input type="text" name="CaptchaCode" id="CaptchaCode" />
                    พิมพ์เล็กหรือพิมพ์ใหญ่ก็ได้
                </td>
            </tr>
        </table>
        <p>
            <input id="submitButton" type="submit" value="แสดงความเห็น" />
            <input type="hidden" id="ArticleId" value="@Model.Id" />
        </p>
    </fieldset>
    </form>*@



