﻿ @model CodeSanook.MicroBlog.Model.Article

@{
    ViewBag.Title = "แก้ไขบทความ";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@section JsContent
{

   
    <script type="text/javascript">
        $(function () {

            //ck edtior
          var editor =  $('#Details').ckeditor(function () { },
                {
                    customConfig: '/Scripts/ckeditor_config.js',
                    extraPlugins: 'syntaxhighlight,video',
                    contentsCss: '/Content/ckeditor.css',
                    filebrowserImageUploadUrl: '/Article/UploadImage?type=Images'
                }
            ).ckeditorGet();  
        
        });
    </script>
}

 <h2>@ViewBag.Title</h2>

  @using (Html.BeginForm("edit", "article",
      FormMethod.Post,
      new { enctype = "multipart/form-data" }))
  {
      @Html.ValidationSummary(true)
      @Html.Partial("CreateEdit")
      <p>
          <input type="submit" value="บันทึก" />
      </p>
  }